/* Style sheet*/
.container{
padding: 38px;
}
.nav-wrapper{
    display:flex;
    justify-content: space-between;
}

.left-nav-wrapper{
    display: flex;
    height:22px;
    border-bottom: 1px solid transparent;
    transition: 0.5s;

}
 
.left-nav-wrapper >div{
    margin-right: 20px;
    font-size: 0.9m;
    text-transform: uppercase;
}

.nav-link-wrapper a{
    color: #8a8a8a;
    text-decoration: none;
    transition: 0.5s;
}

.nav-link-wrapper a:hover{
    border-bottom: 1px solid black;
    color:black;

}
